body {
  background-color: #DDDDDD;
}

h1 {
  color: #06113C;
}

h3 {
  color: #000D6B;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: blue;
  border-width: 5px;
  width: 5%;
}

.profile-pic {
  border-radius: 100%;
}

.hr_profile {
  border-top-style: inset;
  border-color: blue;
  border-width: 3px;
  width: 100%;
}
